body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 40px;
}
.box1 {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 10;
	left: 10;
}
.box2 {
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 10;
	right: 10;
}
.space {
	width: 10px;
	height: 10px;
	background-color: white;
}
.A {
	width: 90px;
	height: 150px;
	border-left: 10px dotted #D0D0FF;
	padding-left: 10px;
	text-align: left;
	background-color: #eeeff2;
}
.A:hover {
	background-color: yellow;
	cursor: pointer;
}
.B {
	width: 90px;
	height: 150px;
	border-left: 10px dotted #D0D0FF;
	padding-left: 10px;
	text-align: left;
	background-color: #eeeff2;
}
.B:hover {
	background-color: yellow;
	cursor: pointer;
}
.F {
	width: 90px;
	height: 150px;
	border-left: 10px dotted #D0D0FF;
	padding-left: 10px;
	text-align: left;
	background-color: #eeeff2;
}
.F:hover {
	background-color: yellow;
	cursor: pointer;
}